.header {
  padding: 2rem 2.5rem;
  background-color: #741188;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.page_title {
  font-size: 3.5rem;
  color: #fff;
  font-weight: 900;
}
